.card {
  width: 18rem;
  height: 550px;
}


.card__title {
  background-color: #000;
  color: #ff9b19;
  margin-top: -37px;
  padding: 8px;
}

.card__category {
  font-size: 14px;
  margin-top: 4px;
}

.card__detail {
  margin-top: 18px;
}

.card__price {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  background-color: #ff9b19;
  padding: 8px;
  border-radius: 50%;
  color: #c1280c;
}

.card__button {
  border: 2px solid #c1280f;
  border: none;
  background-color: #c1280f;
  color: #e9ddcc;
}

.card__button:hover {
  border: 2px solid #c1280f;
  background-color: #e9ddcc;
  color: #c1280f;
}

.card__button:active {
  border: 2px solid #c1280f;
  background-color: #e9ddcc;
  color: #c1280f;
}